* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../1354196.jpg");
    background-position: left;
    background-size: contain;
}

.form-container {
    position: relative;
    background-color: rgba(255, 255, 255, 0.6); /* Light semi-transparent background */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 400px;
    border: 2px solid black;
    margin-left: auto;
    backdrop-filter: blur(10px); /* Apply the blur effect to the background */
    -webkit-backdrop-filter: blur(10px); /* For Safari */
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #030202;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #000000;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

input[type="password"], input[type="text"] {
    height: 40px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #7846d5;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
